.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    border: solid 3px black;
    align-items: center;
}

.container-fluid{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: cadetblue;
}

.navbar-nav{
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.navbar-brand{
    font-weight: bold;
    font-size: larger;
}